# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
dev-dist
dist-electron

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# local large assets
large_assets

bible-json-converter.ts
