@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/JTUSjIg69CK48gW7PXooxW4.woff2) format("woff2");
}
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSoHTQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BAyoHTQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B7y0HTQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i0HTQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QI96.woff2)
    format("woff2");
}
@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7eOQI96.woff2)
    format("woff2");
}
@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7diR496.woff2)
    format("woff2");
}
@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7dbR496.woff2)
    format("woff2");
}
@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7c8R496.woff2)
    format("woff2");
}
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RUAw.woff2)
    format("woff2");
}
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-2fRUAw.woff2)
    format("woff2");
}
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-NfNUAw.woff2)
    format("woff2");
}
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-DPNUAw.woff2)
    format("woff2");
}
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-a_NUAw.woff2)
    format("woff2");
}
@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/RWmMoKWR9v4ksMfaWd_JN-XC.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhqbQqg9.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhobQ6g9.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhrFQ6g9.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhqbQ6g9.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhqpQ6g9.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhpFRKg9.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXEKVElMYYaJe8bpLHnCwDKhdTEG46kmUZQCX598fQbM4jw8V78x9OWIhp8RKg9.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSD6lhzAA.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSDallzAA.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSDtFlzAA.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSD6llzAA.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSD2FlzAA.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSDNF5zAA.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/zYXGKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1swZSAXcomDVmadSDDV5zAA.woff2)
    format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/jizHREVNn1dOx-zrZ2X3pZvkTiUa41YTiw.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/jizGREVNn1dOx-zrZ2X3pZvkTiUa4_oyq14.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/jizGREVNn1dOx-zrZ2X3pZvkTiUa454xq14.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/jizBREVNn1dOx-zrZ2X3pZvkTiUa2zI.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/jizGREVNn1dOx-zrZ2X3pZvkTiUa48Ywq14.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/jizGREVNn1dOx-zrZ2X3pZvkTiUa4-o3q14.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/jizGREVNn1dOx-zrZ2X3pZvkTiUa4442q14.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/jizBREVNn1dOx-zrZ2X3pZvkTi182zI.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/jizAREVNn1dOx-zrZ2X3pZvkTi3Q-hIz.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/jizAREVNn1dOx-zrZ2X3pZvkTi20-RIz.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/jizDREVNn1dOx-zrZ2X3pZvkThUY.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/jizAREVNn1dOx-zrZ2X3pZvkTi3s-BIz.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/jizAREVNn1dOx-zrZ2X3pZvkTi3A_xIz.woff2) format("woff2");
}
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/jizAREVNn1dOx-zrZ2X3pZvkTi2k_hIz.woff2) format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyeMZg.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuDyfMZg.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuOKfMZg.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fMZg.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuDyYMZg.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuBWYMZg.woff2)
    format("woff2");
}
@font-face {
  font-family: "Jersey 25";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ll8-K2eeXj2tAs6F9BXIJw.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/92zJtBhPNqw73oHH7BbQp4-B6XlrZu0ENI0.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/92zJtBhPNqw73oHH7BbQp4-B6XlrZm0FNI0.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/92zJtBhPNqw73oHH7BbQp4-B6XlrZrMFNI0.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/92zJtBhPNqw73oHH7BbQp4-B6XlrZu0FNI0.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/92zJtBhPNqw73oHH7BbQp4-B6XlrZt8FNI0.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/92zJtBhPNqw73oHH7BbQp4-B6XlrZjMCNI0.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/92zJtBhPNqw73oHH7BbQp4-B6XlrZgoCNI0.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/92zJtBhPNqw73oHH7BbQp4-B6XlrZm0CNI0.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/92zJtBhPNqw73oHH7BbQp4-B6XlrZkQCNI0.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/92zPtBhPNqw79Ij1E865zBUv7myjJAVG.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/92zPtBhPNqw79Ij1E865zBUv7mwjJQVG.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/92zPtBhPNqw79Ij1E865zBUv7mz9JQVG.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/92zPtBhPNqw79Ij1E865zBUv7myjJQVG.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/92zPtBhPNqw79Ij1E865zBUv7myRJQVG.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/92zPtBhPNqw79Ij1E865zBUv7mx9IgVG.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/92zPtBhPNqw79Ij1E865zBUv7mxEIgVG.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/92zPtBhPNqw79Ij1E865zBUv7mwjIgVG.woff2) format("woff2");
}
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/92zPtBhPNqw79Ij1E865zBUv7mwKIgVG.woff2) format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/S6u-w4BMUTPHjxsIPy-v.woff2) format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/S6u_w4BMUTPHjxsI9w2PHA.woff2) format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/S6u8w4BMUTPHjxswWw.woff2) format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/S6u_w4BMUTPHjxsI5wqPHA.woff2) format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/S6u_w4BMUTPHjxsI3wiPHA.woff2) format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/S6u8w4BMUTPHh30wWw.woff2) format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/S6u9w4BMUTPHh7USew8.woff2) format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/S6uyw4BMUTPHvxk.woff2) format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/S6u9w4BMUTPHh6UVew8.woff2) format("woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/S6u9w4BMUTPHh50Xew8.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R8aX8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9aX8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9aX8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6aX8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6aX8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Uw-.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.woff2)
    format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.woff2)
    format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiLXA3ig.woff2)
    format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNi83A3ig.woff2)
    format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNirXA3ig.woff2)
    format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNin3A3ig.woff2)
    format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNic3c3ig.woff2)
    format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiSnc3ig.woff2)
    format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiLXc3ig.woff2)
    format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiBHc3ig.woff2)
    format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/XRXI3I6Li01BKofiOc5wtlZ2di8HDDshRTM.woff2) format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/XRXI3I6Li01BKofiOc5wtlZ2di8HDOUhRTM.woff2) format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshRTM.woff2) format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/XRXI3I6Li01BKofiOc5wtlZ2di8HDIkhRTM.woff2) format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/XRXI3I6Li01BKofiOc5wtlZ2di8HDGUmRTM.woff2) format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/XRXI3I6Li01BKofiOc5wtlZ2di8HDFwmRTM.woff2) format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/XRXI3I6Li01BKofiOc5wtlZ2di8HDDsmRTM.woff2) format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/XRXI3I6Li01BKofiOc5wtlZ2di8HDBImRTM.woff2) format("woff2");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/qFda35WCmI96Ajtm83upeyoaX6QPnlo6_PLrOQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/qFda35WCmI96Ajtm83upeyoaX6QPnlo6fPPrOQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/qFda35WCmI96Ajtm83upeyoaX6QPnlo6ovPrOQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/qFda35WCmI96Ajtm83upeyoaX6QPnlo6_PPrOQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/qFda35WCmI96Ajtm83upeyoaX6QPnlo6zvPrOQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/qFda35WCmI96Ajtm83upeyoaX6QPnlo6IvTrOQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/qFda35WCmI96Ajtm83upeyoaX6QPnlo6G_TrOQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/qFda35WCmI96Ajtm83upeyoaX6QPnlo6fPTrOQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/qFda35WCmI96Ajtm83upeyoaX6QPnlo6VfTrOQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playball";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/TK3gWksYAxQ7jbsKcj8D.woff2) format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_pqTbtY.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_naUbtY.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_k-UbtY.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_iiUbtY.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_gGUbtY.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvUDQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKd3vUDQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKebukDQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiukDQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKfFukDQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKfsukDQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjNPrQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4ejMPrQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4TbMPrQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMPrQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4VrMPrQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4bbLPrQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4Y_LPrQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4ejLPrQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4cHLPrQ.woff2)
    format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao4CP.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaooCP.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtzpYCP.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLoHRiA8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLt_QiA8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLoHQiA8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLrPQiA8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLmbXiA8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLijXiA8.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbGmT.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuaabWmT.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbWmT.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWub2bWmT.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjammT.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  font-display: swap;
  src: url(../fonts/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuZtammT.woff2)
    format("woff2");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/-nFsOHYr-vcC7h8MklGBkrvmUG9rbpkisrTri0jx.woff2)
    format("woff2");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrJ2nR3A.woff2)
    format("woff2");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrQ2rR3A.woff2)
    format("woff2");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTT7w.woff2)
    format("woff2");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrG2vR3A.woff2)
    format("woff2");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrN2zR3A.woff2)
    format("woff2");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrU23R3A.woff2)
    format("woff2");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrT27R3A.woff2)
    format("woff2");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTra2_R3A.woff2)
    format("woff2");
}
@font-face {
  font-family: "Sedan";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Yq6U-L-VVyD6-dOQgz4.woff2) format("woff2");
}
@font-face {
  font-family: "Sedan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Yq6a-L-VVyD6-eOS.woff2) format("woff2");
}
@font-face {
  font-family: "Slabo 27px";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/mFT0WbgBwKPR_Z4hGN2qsxg.woff2) format("woff2");
}
