@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..600&display=swap");

* {
  font-family: Inter;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
